/* =======================================================
* Website Name: Citizen Participation Maintenance Screen 1.0
* Website URL: don't know yet/
* Author: Lagbalu Joseph (Jos33y)
======================================================== */

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|PT+Sans|PT+Serif|PT+Serif+Caption|Roboto|Roboto+Mono&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    color: #4f4e4b;
    background-color: #f2f1f6;
  
}

.home-image {
    background: url('../images/home.jpg');
    width: 100vw;
    background-size: cover;
}

.header {
    padding-bottom: 30%;
}

.side-img {
    margin-left: 30%;
    width: 200px;
    height: 200px;
}

.header-text {
    color: blue;
    font-size: 45px;
    font-weight: 700;
    padding-top: 8%;
    padding-left: 9%;

}

.sub-head {
    color: #ec1d2e;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10%;
}


.home-title {
    margin-top: 8%;
    color: #201dec;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.h3-line {
    border: 2px solid #0f086d;
}


.home-cards {
    margin: 5%;
}

.card {
    margin-bottom: 10%;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.card-footer {
    color: #4f4e4b;
}

.icon .fas,
.fab {
    font-size: 80px;
    color: aliceblue;
    margin-bottom: 3%;

}

.icon-gov .fas {
    font-size: 80px;
    color: skyblue;
    margin-bottom: 3%;

}

.btn.btn-new {
    text-align: center;
    background-color: aliceblue;
    border-color: aliceblue;
    border-radius: 15px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding-left: 10px;
    padding-right: 10px;
    color: #0f086d;
}

.btn.btn-view {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: aliceblue;
    border-color: aliceblue;
    border-radius: 15px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    color: #ec1d2e;
}


/** Ballot STyles **/

.logo {
    margin-left: 40px;
    width: 40px;
    height: 40px;
}

.logo-name {
    color: #0f086d;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
}

.back-image {
    width: 100%;
}

.page-title {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.page-title-line {
    border: 1px solid #0f086d;
    margin-bottom: 5%;
}

.styled-border {
    border-top: 1px solid #201dec;
    border-width: auto;
    padding: 5%;
}

.screen-border {
    color: #ffffff;
    background-color: #4a73f9;
    border: 2px solid #333436;
    padding: 4%;
}

.btn.btn-save {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: #2f992a;
    border-color: #2f992a;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
}



/** Footer STyle **/
footer {
    margin-top: 15%;
}



/**colors **/
.blue {
    color: #1B1F80;
}

.gold {
    color: #FE9C13
}

.green {
    color: #519E58;
}

/** Search Styles **/
.search-screen {
    margin: 10%;
}

.search-head {
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: #ffff00;
}

.search-one {
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}

/** Input Styles **/
.search-gov input {
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 30px;
    font-weight: 700;
}

.search-part input {
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
}

.search-part, .search-res input::placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: gray;
    text-align: center;
}

.search-part select {
    color: gray;
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
}


/** Styles COntinue **/

.search-two {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.search-note {
    color: #ffff00;
    font-size: 13px;
    font-weight: 600;

}

.search-three {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}



.search-three .fas {
    color: #ffff00;
    font-size: 10px;
    margin-bottom: 13px;
}

.search-three .btn.btn-outline-light {

    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: transparent;
    border-radius: 0;
    padding: 0;

}

.search-counties input::placeholder {
    font-size: 12px;
    font-weight: 600;
}

.search-btn .btn {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.search-btn .btn.btn-success {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: #0d0d0e;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.search-btn .btn.btn-warning {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-left: 20%;
    letter-spacing: 1px;
    background-color: #ffff00;
    border-color: #0d0d0e;
    border-radius: 0;
    padding: 5px 30px 5px 30px;
    color: #111111;
}

/** edit counties **/

.edit-county {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;

}

/** New Counties **/

.county-tble-head {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;

}

/** Address Style **/



.address-text {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.address input {
    font-size: 13px;
    padding: 5px;
}


/** Edit govtype **/

.govtype-desc {
    font-size: 10px;
    overflow: auto;

}

/** Search Type **/

.version {
    font-size: 15px;
    font-weight: 600;
    margin-left: 2%;
}

.version .btn.btn-danger {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: #0d0d0e;
    border-radius: 0;

}

.version-time {
    margin-left: 3%;
    color: #ffff00;
    font-size: 15px;
    font-weight: 600;
}

.yellow-ballot {
    color: #ffff00;
    font-size: 13px;
    font-weight: 550;
    font-style: italic;
    letter-spacing: 0.5px;
}


.search-rgov input {
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 22px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;

}

.search-res input {
    border: 2px solid transparent;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;

}

.search-res textarea {
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;

}

.address-note{
    font-style: italic;
    font-size: 11px;
    color: #ffff00;
    font-weight: 550;
}

.search-res .fas {
    color: #ffff00;
    font-size: 10px;
    margin-bottom: 13px;
}
.search-res .btn.btn-outline-light {

    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: transparent;
    border-radius: 0;
    padding: 0;

}
.search-result{
    line-height: 15px;
}
.search-result .row{
    margin: 0;
    padding: 0;
}
.search-result .table{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


/** Buttons **/
.btn.btn-prev {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    background-color: rgb(22, 18, 87);
    border-color: #0d0d0e;
    border-radius: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;  
}

.search-result-btn .btn.btn-warning, .btn-success, .btn-danger{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-color: #0d0d0e;
    border-radius: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px; 
}


.search-result-btn .btn{
-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}


